@font-face {
  font-family: 'Product Sans';
  src: url(./fonts/Product\ Sans\ Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: 'Product Sans';
  src: url(./fonts/Product\ Sans\ Bold.ttf.ttf);
  font-weight: 700;
}
